##Traffic Volume Analysis and Tweet Processing Using Python
###NAME - SANTRAM
### ROLL NO. -231030050

### Traffic Volume Data Analysis

In [ ]:
import numpy as np
import re

a=np.loadtxt('ques1_txt.txt',delimiter=',')  # loading of given data
a

array([[ 550.,  764.,  803.,  525.,  964.,  611.,  506.,  752.,  577.,
         967.,  682.,  788.],
       [ 864.,  521.,  983.,  512.,  556.,  716.,  856.,  711.,  889.,
         954.,  831.,  998.],
       [ 832.,  902.,  569.,  728.,  551.,  543.,  580.,  881.,  805.,
         804.,  872.,  574.],
       [ 829.,  797.,  547.,  845.,  772.,  822.,  586.,  753.,  871.,
         976.,  833.,  708.],
       [ 975.,  809.,  707.,  919.,  533.,  681.,  711.,  538.,  541.,
         739.,  722.,  766.],
       [ 847.,  641.,  874.,  719.,  598.,  954.,  573.,  726.,  970.,
         583.,  552.,  680.],
       [ 965.,  581.,  633.,  616.,  734.,  903.,  535.,  783.,  868.,
         845.,  591.,  854.],
       [ 745.,  547.,  889.,  885.,  747.,  581.,  823.,  612.,  582.,
         878.,  590.,  968.],
       [ 718.,  670.,  590.,  587.,  698.,  881.,  666.,  856.,  654.,
         795.,  823.,  908.],
       [ 900.,  609.,  990.,  997.,  509.,  565.,  834.,  882.,  615.,
         901.,  754.,  629.],
       [ 627.,  669.,  972.,  969.,  821.,  510.,  589.,  997.,  763.,
         743.,  975.,  760.],
       [ 973.,  982.,  690.,  534.,  500.,  507.,  760.,  710.,  898.,
         804.,  901.,  752.],
       [ 524.,  882.,  990.,  749.,  642.,  536.,  867.,  951.,  587.,
         987.,  971.,  613.],
       [ 937.,  871.,  819.,  704.,  628.,  683.,  716.,  868.,  915.,
         947.,  609.,  523.],
       [ 797.,  697.,  525.,  999.,  755.,  505.,  693.,  670.,  781.,
         555.,  820.,  847.],
       [ 654.,  788.,  823.,  703.,  843.,  870.,  832.,  669.,  772.,
         519.,  839.,  674.],
       [ 578.,  835.,  665.,  569.,  757.,  601.,  930.,  843.,  535.,
         551.,  519.,  685.],
       [ 701.,  780.,  720.,  654.,  799.,  731.,  829.,  857.,  976.,
         914.,  971.,  982.],
       [ 783.,  663.,  860.,  565.,  546.,  786.,  883.,  815.,  593.,
         937.,  915.,  695.],
       [ 777.,  550.,  626.,  757.,  985.,  684.,  866.,  923.,  689.,
         908.,  824.,  782.],
       [ 722.,  620.,  771.,  538.,  818.,  840.,  501.,  644.,  675.,
         980.,  956.,  917.],
       [ 714.,  712.,  643.,  759.,  884.,  730.,  928.,  940.,  736.,
         955.,  739.,  926.],
       [ 514.,  972.,  558.,  951.,  587.,  517.,  672.,  572.,  556.,
         875.,  848.,  523.],
       [ 627.,  705.,  797.,  546.,  905.,  745.,  792.,  535.,  662.,
         983.,  885.,  658.],
       [ 652.,  551.,  883.,  621.,  500.,  503.,  964.,  532.,  746.,
         848.,  562.,  501.],
       [ 819.,  657.,  803.,  980.,  919.,  752.,  524.,  624.,  501.,
         991.,  604.,  610.],
       [ 528.,  923.,  760.,  762.,  984.,  938.,  531.,  988.,  798.,
         987.,  567.,  780.],
       [ 530.,  883.,  931.,  852.,  843.,  839.,  726.,  945.,  960.,
         799.,  654.,  991.],
       [ 817.,  737.,  551.,  644.,  533.,  806.,  794.,  508.,  700.,
         543.,  808.,  869.],
       [ 679.,  889.,  780.,  815.,  528.,  503.,  814.,  680.,  776.,
         763.,  704.,  793.],
       [ 581.,  662.,  600.,  981.,  909.,  735.,  920.,  886.,  532.,
         914.,  974.,  955.],
       [ 895.,  543.,  951.,  970.,  557.,  888.,  978.,  644.,  552.,
         694.,  790.,  807.],
       [ 652., 1000.,  553.,  713.,  541.,  786.,  548.,  504.,  911.,
         693.,  866.,  766.],
       [ 883.,  651.,  733.,  915.,  867.,  708.,  918.,  994.,  633.,
         979.,  939.,  888.],
       [ 960.,  852.,  545.,  678.,  890.,  803.,  981.,  968.,  792.,
         730.,  801.,  794.],
       [ 697.,  940.,  530.,  840.,  879.,  796.,  632.,  930.,  809.,
         862.,  681.,  612.],
       [ 606.,  969.,  560.,  542.,  755.,  509.,  616.,  620.,  555.,
         573.,  829.,  625.],
       [ 742.,  703.,  917.,  685.,  999.,  761.,  645.,  825.,  698.,
         689.,  534.,  620.],
       [ 539.,  612.,  800.,  653.,  971.,  866.,  669.,  999.,  770.,
         739.,  668.,  997.],
       [ 601.,  503.,  640.,  985.,  548.,  741.,  987.,  643.,  577.,
         825.,  779.,  750.],
       [ 585.,  831.,  750.,  633.,  934.,  855.,  951.,  511.,  792.,
         867.,  521.,  643.],
       [ 890.,  848.,  584.,  857.,  947.,  599.,  661.,  831.,  993.,
         613.,  529.,  742.],
       [ 999.,  884.,  963.,  612.,  630.,  775.,  666.,  892.,  678.,
         915.,  937.,  663.],
       [ 821.,  968.,  836.,  503.,  546.,  729.,  627.,  708.,  899.,
         864.,  716.,  677.],
       [ 793.,  502.,  520.,  939.,  562.,  707.,  658.,  568.,  980.,
         798.,  774.,  660.],
       [ 734.,  691.,  938.,  713.,  932.,  929.,  934.,  884.,  888.,
         603.,  762.,  768.],
       [ 955.,  561.,  604.,  889.,  894.,  844.,  515.,  522.,  914.,
         990.,  732.,  596.],
       [ 751.,  771.,  924.,  768.,  875.,  593.,  635.,  526.,  854.,
         816.,  824.,  822.],
       [ 679.,  755.,  565.,  545.,  877.,  930.,  851.,  606.,  826.,
         903.,  987.,  918.],
       [ 681.,  900.,  699.,  734.,  589.,  863.,  636.,  992.,  768.,
         546.,  608.,  655.]])

In [ ]:
z=a.shape[0]    # no. of sites finding using shape syntex
print('no. of sites are' ,z)

no. of sites are 50

In [ ]:
c=a.sum(axis=1)
# monthly average traffic volume of each site is the mean of traffic of monthly traffic volume data given
print('monthly average traffic volume :')
print(c/12)

monthly average traffic volume :
[707.41666667 782.58333333 720.08333333 778.25       720.08333333
 726.41666667 742.33333333 737.25       737.16666667 765.41666667
 782.91666667 750.91666667 774.91666667 768.33333333 720.33333333
 748.83333333 672.33333333 826.16666667 753.41666667 780.91666667
 748.5        805.5        678.75       736.66666667 655.25
 732.         795.5        829.41666667 692.5        727.
 804.08333333 772.41666667 711.08333333 842.33333333 816.16666667
 767.33333333 646.58333333 734.83333333 773.58333333 714.91666667
 739.41666667 757.83333333 801.16666667 741.16666667 705.08333333
 814.66666667 751.33333333 763.25       786.83333333 722.58333333]

In [ ]:
d=c/12
# by slicing syntex we get first five month's monthly average traffic
print('monthly average traffic of first five sites is', d[0:5,])

monthly average traffic of first five sites is [707.41666667 782.58333333 720.08333333 778.25       720.08333333]

In [ ]:
# position of maximum and minimum yearly volume among all sites find using argmax and argmin syntex
print('maximum yearly volume has site',c.argmax()+1)
print('minimum yearly volume has site',c.argmin()+1)

maximum yearly volume has site 34
minimum yearly volume has site 37

In [ ]:
print(" maximum yearly volume among all sites", c.max()) # column sum across month
print('minimum yearly volume among all sites', c.min())

 maximum yearly volume among all sites 10108.0
minimum yearly volume among all sites 7759.0

In [ ]:
# introducing of dictionary to get month name
j={1:'jan',2:'fab',3:'mar',4:'apr',5:'may',6:'jun',7:'jul',8:'aug',9:'sep',10:'oct',11:'nov',12:'dec'}
j

{1: 'jan',
 2: 'fab',
 3: 'mar',
 4: 'apr',
 5: 'may',
 6: 'jun',
 7: 'jul',
 8: 'aug',
 9: 'sep',
 10: 'oct',
 11: 'nov',
 12: 'dec'}

In [ ]:
h=a.sum(axis=0) # row sum to get sum of monthly traffic across all sites

# finding of maximum traffic volume month among all sites using max syntex
print("maximum traffic volume among all months",h.max())

#using of argmax syntex to find position of maximum traffic volume month
print("maximum traffic has month",h.argmax()+1)

maximum traffic volume among all months 40644.0
maximum traffic has month 10

In [ ]:
print('month' ,j[10],'has maximimum traffic volume of 40644.0')# apply of dictionary

month oct has maximimum traffic volume of 40644.0

In [ ]:
# finding of minimum traffic volume month among all sites using min syntex
print("minimum traffic volume among all months",h.min())

# using of argmin syntex to find position of minimum traffic volume month
print("minimum traffic has month",h.argmin()+1)

minimum traffic volume among all months 36260.0
minimum traffic has month 6

In [ ]:
print('month' ,j[6],'has minimum traffic volume of 36260.0')# apply of dictionary

month jun has minimum traffic volume of 36260.0

In [ ]:
d=np.where(c>9700) # conditioon apply to find position
f=np.array(d) # changing of tuple to array
y=f+1 # add 1 because array defines position start from 0 but we want start from 1
print('sites',y,'has total yearly volume > 9700 vehicles')

sites [[18 28 34 35 46]] has total yearly volume > 9700 vehicles

In [ ]:
m=np.where(h>38000) # condition apply to find position
g=np.array(m) # changing of tuple to array
t=g+1
print('months',t,"has total monthly traffic volume >38000" )

months [[10 11]] has total monthly traffic volume >38000

### Tweet Processing

In [ ]:
# storing of tweet as single string
statement=" Neeraj Chopra brings home the much awaited Gold First place medal for Flag of India in his debut Olympic Games.The gigantic effort made sureIndia has best ever medal haul in the olympics. Congratulations champ Neeraj Chopra, the whole nation is proud of you "
statement

' Neeraj Chopra brings home the much awaited Gold First place medal for Flag of India in his debut Olympic Games.The gigantic effort made sureIndia has best ever medal haul in the olympics. Congratulations champ Neeraj Chopra, the whole nation is proud of you '

In [ ]:
#spliting of list that shows a element as a single word
v=statement.split()
v

['Neeraj',
 'Chopra',
 'brings',
 'home',
 'the',
 'much',
 'awaited',
 'Gold',
 'First',
 'place',
 'medal',
 'for',
 'Flag',
 'of',
 'India',
 'in',
 'his',
 'debut',
 'Olympic',
 'Games.The',
 'gigantic',
 'effort',
 'made',
 'sureIndia',
 'has',
 'best',
 'ever',
 'medal',
 'haul',
 'in',
 'the',
 'olympics.',
 'Congratulations',
 'champ',
 'Neeraj',
 'Chopra,',
 'the',
 'whole',
 'nation',
 'is',
 'proud',
 'of',
 'you']

In [ ]:
r=len(u) # no. of words present in tweet
print (r,'words are present in the tweet')

45 words are present in the tweet

In [ ]:
s=set(u) # set gives unique words by removing duplicte words
t=len(s) # no. of unique word present in tweet
print(t,'unique words are present in the tweet')

38 unique words are present in the tweet